.register__content {
    margin: 0 auto;
    max-width: 100%;
    background-color: #ffffff;
}
.register-form__heading {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.form {
    margin: 0 auto;
    width: 35%;
    font-weight: bold;
}
.form__group {
    margin-bottom: 30px;
}
.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}
.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 45px;
    border: 2px solid #808080;
    border-radius: 5px;
    appearance: none;
    background-color: #ffffff;
    font-size: small;
}
.form__button {
    padding-top: 20px;
    text-align: center;
}
.form__button-submit {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #ff4726;
    color: #fff;
    cursor: pointer;
    font-size: large;
    font-weight:bold;
}
.form__link {
    text-align: center;
    margin-top: 20px;
}
.form__link-register {
    font-size: smaller;
    color: #3478ff;
    text-decoration: none;
}

@media screen and (max-width : 768px) {
    .form {
        width: 80%;
    }
}